In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Data21.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0    102         1   62          0           0              1
1    101         1   25          1           0              0
2     99         0   24          0          -1              0
3    101         0   85          1           1              1
4    103         0   32          0           0              0

In [4]:
df.tail()

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2330    101         0   81          0           1              1
2331    102         1   69          1           0              0
2332    100         0    3          0           0              0
2333    102         0   99          0           0              0
2334    100         1   62          0           1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2335 entries, 0 to 2334
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2335 non-null   int64
 1   bodyPain       2335 non-null   int64
 2   age            2335 non-null   int64
 3   runnyNose      2335 non-null   int64
 4   diffBreath     2335 non-null   int64
 5   infectionProb  2335 non-null   int64
dtypes: int64(6)
memory usage: 109.6 KB

In [6]:
df['diffBreath'].value_counts()

 1    808
 0    799
-1    728
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2335.000000,2335.000000,2335.000000,2335.000000,2335.000000,2335.000000
mean,101.033833,0.498501,51.445824,0.511777,0.034261,0.492077
std,1.998106,0.500105,29.134611,0.499968,0.810508,0.500044
min,98.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.000000,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,101.000000,0.000000,52.000000,1.000000,0.000000,0.000000
75%,103.000000,1.000000,77.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
train,test=data_split(df,0.2)

In [11]:
train

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2286     98         1    6          1           0              0
2258    100         0   11          0          -1              0
1054     99         0   53          1           0              1
1173     98         0   64          1           0              0
49       98         0   96          0          -1              0
...     ...       ...  ...        ...         ...            ...
1638    102         0   90          1           1              1
1095    101         1   79          0          -1              1
1130     99         0   70          0          -1              0
1294    103         0   75          1           1              0
860     102         0   81          1          -1              1

[1868 rows x 6 columns]

In [12]:
test

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2035     99         1   78          0          -1              0
1724    102         1   94          1           0              0
2176     99         0   95          1           1              0
915     103         1   71          1           1              0
2025    103         0   73          0           0              0
...     ...       ...  ...        ...         ...            ...
1666    103         0   74          0           1              0
353     104         1   29          0          -1              1
1487    103         0   59          0           0              0
931     102         1   28          0          -1              0
1900    103         0   91          1           1              1

[467 rows x 6 columns]

In [13]:
X_train=train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test=test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [14]:
Y_train=train[['infectionProb']].to_numpy().reshape(1868,)
Y_test=test[['infectionProb']].to_numpy().reshape(467,)

In [15]:
Y_train

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [18]:
clf.predict_proba([[100,1,33,1,0]])

array([[0.49700413, 0.50299587]])